Repository BeeStation/BeeStation-Hornet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @powerfulbacon, @pestoverde322, @itsmeow

Fix orbital map again
  tgui/packages/tgui/interfaces/OrbitalMap.js
Owners: none

Fix display text
  tgui/packages/tgui/interfaces/OrbitalMap.js
Owners: none

cleanup
  code/datums/components/plumbing/_plumbing.dm
  code/datums/elements/undertile.dm
Owners: none

fix missing checks
  code/game/machinery/navbeacon.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/devices/scanners.dm
  code/game/turfs/turf.dm
  code/modules/mob/dead/observer/observer.dm
Owners: none

https://github.com/tgstation/tgstation/pull/64346
  code/controllers/subsystem/minor_mapping.dm
Owners: none

deadmins
  code/modules/client/verbs/who.dm
Owners: none

cleanup2
  code/game/objects/obj_defense.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/turf.dm
Owners: none

fix
  code/modules/client/verbs/who.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

now deleting 100% more action (#9551)
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Owners: none

Automatic changelog generation for PR #9551 [ci skip]
  html/changelogs/AutoChangeLog-pr-9551.yml
Owners: none

515
  code/datums/elements/turf_transparency.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9551.yml
Owners: none

Update science_outpost.dmm
  _maps/shuttles/science/science_outpost.dmm
Owners: @pestoverde322

Update code/modules/client/verbs/who.dm
  code/modules/client/verbs/who.dm
Owners: none

mutation - 31 7 23
  code/datums/mutations/actions.dm
Owners: none

Refactors Discoordinated Trauma Trait
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/brain_damage/severe.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/tgui/status_composers.dm
Owners: @itsmeow

Something about monkeys on typewriters...
  code/modules/mob/living/carbon/monkey/monkey.dm
Owners: none

Fix ethereal colors not migrating properly
  code/__HELPERS/_lists.dm
  code/_globalvars/regexes.dm
  code/modules/client/preferences/entries/character/species_features/ethereal.dm
Owners: none

Fix security departments not being assigned
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/security_officer.dm
Owners: none

Removes saving debug messages
  code/controllers/subsystem/preferences.dm
  code/modules/client/preferences/serialization/preferences_character.dm
  code/modules/client/preferences/serialization/preferences_database.dm
  code/modules/client/preferences/serialization/preferences_player.dm
Owners: none

Remove HUDs from dummies
  code/modules/mob/living/carbon/human/dummy.dm
Owners: none

Fixes grilles
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
Owners: none

Passgrille b gone
  code/modules/mob/living/simple_animal/friendly/butterfly.dm
  code/modules/mob/living/simple_animal/friendly/cockroach.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/macrophage.dm
  code/modules/mob/living/simple_animal/hostile/redgrub.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/frog.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Owners: none

Makes new players struggle to light cigarettes for others
  code/game/objects/items/cigs_lighters.dm
Owners: none

Fix HUD runtimes
  code/modules/mob/living/carbon/human/dummy.dm
Owners: none

Fix invalid expression in guncode (#9543)
  code/modules/projectiles/gun.dm
Owners: none

Honker mech equipment menu addition (#9528)
  code/game/mecha/combat/honker.dm
Owners: none

Automatic changelog generation for PR #9543 [ci skip]
  html/changelogs/AutoChangeLog-pr-9543.yml
Owners: none

Automatic changelog generation for PR #9528 [ci skip]
  html/changelogs/AutoChangeLog-pr-9528.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9528.yml
  html/changelogs/AutoChangeLog-pr-9543.yml
Owners: none

more tweaks to the item itself? sign me up!
  code/modules/clothing/head/mind_monkey_helmet.dm
Owners: none

fix
  code/game/turfs/turf.dm
Owners: none

Fixed unexisting variable code.
  code/modules/mob/living/carbon/alien/special/facehugger.dm
Owners: none

cooldown-instead-of-removal
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
Owners: none

cooldown
  code/_onclick/hud/alert.dm
  code/game/objects/structures/grille.dm
Owners: none

testing
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @pestoverde322

missing cameras
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @pestoverde322

1984
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @pestoverde322

Random Turf init optimizations (#9555)
  code/game/turfs/change_turf.dm
  code/game/turfs/open/space/transit.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
/config @crossedfall

# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon

# pestoverde322

/_maps @pestoverde322

# itsmeow

/code/game/gamemodes/dynamic @itsmeow
/code/modules/modular_computers @itsmeow
/tools/MapTileAggregator.py @itsmeow
/code/modules/admin/player_panel.dm @itsmeow
/code/modules/tgui/ @itsmeow
/code/modules/tgui_input/ @itsmeow
/code/modules/tgui_panel/ @itsmeow
/tgui/ @itsmeow
/tgui/packages/tgui/interfaces/PlayerPanel.js @itsmeow
/code/modules/multiz @itsmeow

# itsmeow (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/goon/chat-dark.scss
/tgui/packages/tgui-panel/styles/goon/chat-light.scss
