Repository BeeStation/BeeStation-Hornet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @powerfulbacon, @pestoverde322, @itsmeow

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
/config @crossedfall

# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon

# pestoverde322

/_maps @pestoverde322

# itsmeow

/code/game/gamemodes/dynamic @itsmeow
/code/modules/modular_computers @itsmeow
/tools/MapTileAggregator.py @itsmeow
/code/modules/admin/player_panel.dm @itsmeow
/code/modules/tgui/ @itsmeow
/code/modules/tgui_input/ @itsmeow
/code/modules/tgui_panel/ @itsmeow
/tgui/ @itsmeow
/tgui/packages/tgui/interfaces/PlayerPanel.js @itsmeow
/code/modules/multiz @itsmeow

# itsmeow (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/goon/chat-dark.scss
/tgui/packages/tgui-panel/styles/goon/chat-light.scss

Automatic changelog generation for PR #9555 [ci skip]
  html/changelogs/AutoChangeLog-pr-9555.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9555.yml
Owners: none

Fixes a few radstation issues (#9519)
  _maps/map_files/RadStation/RadStation.dmm
Owners: @pestoverde322

Automatic changelog generation for PR #9519 [ci skip]
  html/changelogs/AutoChangeLog-pr-9519.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9519.yml
Owners: none

Mobility Atomization 2: Incapacitation (#9491)
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/multiz/movement/mob/living_zmove.dm
Owners: @itsmeow

Automatic changelog generation for PR #9491 [ci skip]
  html/changelogs/AutoChangeLog-pr-9491.yml
Owners: none

[PORT] BCI component fixes and additions (#9502)
  beestation.dme
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/bci/hud/bar_overlay.dm
  code/modules/wiremod/components/bci/hud/counter_overlay.dm
  code/modules/wiremod/components/bci/hud/object_overlay.dm
  code/modules/wiremod/components/bci/hud/target_intercept.dm
  code/modules/wiremod/components/bci/thought_listener.dm
Owners: none

Automatic changelog generation for PR #9469 [ci skip]
  html/changelogs/AutoChangeLog-pr-9469.yml
Owners: none

forgot an apc in maint
  _maps/map_files/RadStation/RadStation.dmm
Owners: @pestoverde322

Automatic changelog generation for PR #9502 [ci skip]
  html/changelogs/AutoChangeLog-pr-9502.yml
Owners: none

Patch up the jankiness of LOOC (#9407)
  beestation.dme
  code/__DEFINES/bans.dm
  code/modules/client/verbs/looc.dm
  code/modules/client/verbs/ooc.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9469.yml
  html/changelogs/AutoChangeLog-pr-9491.yml
  html/changelogs/AutoChangeLog-pr-9502.yml
Owners: none

Update beestation.dme
  beestation.dme
Owners: none

fixy wixy
  code/modules/research/xenobiology/xenobiology.dm
Owners: none

yes
  code/modules/power/supermatter/supermatter.dm
Owners: none

Automatic changelog generation for PR #9407 [ci skip]
  html/changelogs/AutoChangeLog-pr-9407.yml
Owners: none

Rad station power cable improvements & more (#9218)
  _maps/map_files/RadStation/RadStation.dmm
Owners: @pestoverde322

one-line-change (#9544)
  code/game/objects/items/storage/firstaid.dm
Owners: none

Automatic changelog generation for PR #9459 [ci skip]
  html/changelogs/AutoChangeLog-pr-9459.yml
Owners: none

fixes conflict
  code/game/turfs/open/space/transit.dm
  code/modules/mapping/space_management/space_reservation.dm
Owners: none

Update beestation.dme
  beestation.dme
Owners: none

Automatic changelog generation for PR #9218 [ci skip]
  html/changelogs/AutoChangeLog-pr-9218.yml
Owners: none

Automatic changelog generation for PR #9544 [ci skip]
  html/changelogs/AutoChangeLog-pr-9544.yml
Owners: none

Update code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter.dm
Owners: none

SM's anomalies spawn way less harvested pierced realities (#9515)
  code/game/objects/effects/anomalies.dm
  code/game/turfs/turf.dm
  code/modules/power/supermatter/supermatter.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9218.yml
  html/changelogs/AutoChangeLog-pr-9407.yml
  html/changelogs/AutoChangeLog-pr-9459.yml
  html/changelogs/AutoChangeLog-pr-9544.yml
Owners: none

TG changes
  code/datums/elements/mirage_border.dm
Owners: none

Woops, wrong clamp
  code/datums/elements/mirage_border.dm
Owners: none

done
  code/modules/power/supermatter/supermatter.dm
Owners: none

Automatic changelog generation for PR #9515 [ci skip]
  html/changelogs/AutoChangeLog-pr-9515.yml
Owners: none

Missed a var
  code/datums/elements/mirage_border.dm
Owners: none

Reduced plant HP, remove tree shadows (#9512)
  code/game/objects/structures/flora.dm
  icons/obj/flora/jungletrees.dmi
  icons/obj/flora/jungletreesmall.dmi
Owners: none

does the other thing yes
  code/modules/power/supermatter/supermatter.dm
Owners: none

Automatic changelog generation for PR #9512 [ci skip]
  html/changelogs/AutoChangeLog-pr-9512.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9512.yml
  html/changelogs/AutoChangeLog-pr-9515.yml
Owners: none

https://github.com/tgstation/tgstation/pull/45371 (#9504)
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
Owners: none

Load circuit components from USB ports on demand, saving 0.5s of init time (0.7s on prod) (#69664) (#9536)
  code/datums/components/usb_port.dm
Owners: none

Automatic changelog generation for PR #9504 [ci skip]
  html/changelogs/AutoChangeLog-pr-9504.yml
Owners: none

Automatic changelog generation for PR #9536 [ci skip]
  html/changelogs/AutoChangeLog-pr-9536.yml
Owners: none
