Repository BeeStation/BeeStation-Hornet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @zeskorion

Enabled kilo
  config/maps.txt
Owners: @crossedfall

:)
  code/datums/components/material_container.dm
Owners: none

Update mining_designs.dm
  code/modules/research/designs/mining_designs.dm
Owners: none

Punctuation
  code/game/machinery/computer/apc_control.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Owners: none

Seeds
  code/modules/hydroponics/grown/replicapod.dm
Owners: none

fix
  code/datums/status_effects/debuffs.dm
Owners: none

Update code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/grown/replicapod.dm
Owners: none

Update code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/grown/replicapod.dm
Owners: none

Update code/modules/hydroponics/grown/replicapod.dm
  code/modules/hydroponics/grown/replicapod.dm
Owners: none

Indentation
  code/modules/hydroponics/grown/replicapod.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

fixes shitcode
  code/datums/components/material_container.dm
Owners: none

Recyclers will no longer grind raw materials (#2970)
  code/game/machinery/recycler.dm
Owners: none

Automatic changelog generation for PR #2970 [ci skip]
  html/changelogs/AutoChangeLog-pr-2970.yml
Owners: none

Glass shards can now be crafted by using glass in-hand (#2931)
  code/game/objects/items/stacks/sheets/glass.dm
Owners: none

Automatic changelog generation for PR #2931 [ci skip]
  html/changelogs/AutoChangeLog-pr-2931.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-2931.yml
  html/changelogs/AutoChangeLog-pr-2970.yml
Owners: none

fixed shitcode+is now ranged
  code/game/objects/items/RCD.dm
  code/modules/cargo/packs.dm
Owners: none

fix
  code/game/objects/items/RCD.dm
  code/modules/cargo/packs.dm
Owners: none

fix
  code/game/objects/items/RCD.dm
Owners: none

objectives revised
  beestation.dme
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Owners: none

objectives 2 + follower antags
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
Owners: none

objectives 3
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Owners: none

oops
  beestation.dme
Owners: none

some fixes
  code/datums/status_effects/debuffs.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/eldritch_cult/eldritch_book.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/eldritch_magic.dm
  code/modules/antagonists/eldritch_cult/eldritch_monster_antag.dm
Owners: none

good_idea
  code/datums/status_effects/debuffs.dm
Owners: none

how
  code/modules/admin/topic.dm
Owners: none

Cool
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
Owners: none

Update code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
Owners: none

2020-11-21 Commit 1
  code/datums/elements/earhealing.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
Owners: none

Cool (#2977)
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
Owners: none

Automatic changelog generation for PR #2977 [ci skip]
  html/changelogs/AutoChangeLog-pr-2977.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-2977.yml
Owners: none

Update code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/custom_shuttle.dm
Owners: @powerfulbacon

Update code/modules/bluespace_exploration/system_console.dm
  code/modules/bluespace_exploration/system_console.dm
Owners: none

Update code/modules/bluespace_exploration/system_console.dm
  code/modules/bluespace_exploration/system_console.dm
Owners: none

Update code/modules/bluespace_exploration/encounter/shiploader.dm
  code/modules/bluespace_exploration/encounter/shiploader.dm
Owners: none

Update code/controllers/subsystem/bluespace_exploration.dm
  code/controllers/subsystem/bluespace_exploration.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon

# zeskorion

/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
