Repository BeeStation/BeeStation-Hornet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @powerfulbacon, @pestoverde322, @itsmeow

Fixes the event not spawning
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Owners: @itsmeow

Update dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Owners: @itsmeow

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-9530.yml
Owners: none

Update floor.dm
  code/game/turfs/open/floor.dm
Owners: none

z-mimic
  beestation.dme
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits.dm
  code/datums/elements/turf_transparency.dm
  code/game/sound.dm
  code/game/turfs/open/floor/glass.dm
  code/game/turfs/open/openspace.dm
Owners: none

review
  code/__DEFINES/layers.dm
  code/_onclick/telekinesis.dm
  code/datums/keybinding/living.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/mob/living/carbon/carbon.dm
Owners: none

Update code/datums/mutations/actions.dm
  code/datums/mutations/actions.dm
Owners: none

Update code/datums/mutations/actions.dm
  code/datums/mutations/actions.dm
Owners: none

Update telekinesis.dm
  code/_onclick/telekinesis.dm
Owners: none

Update science_outpost.dmm
  _maps/shuttles/science/science_outpost.dmm
Owners: @pestoverde322

e
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/sound.dm
  code/modules/client/client_colour.dm
  code/modules/mob/living/carbon/carbon_movement.dm
Owners: none

Mega starlight
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/type2type.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/parallax.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/controllers/subsystem/parallax.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  code/game/area/areas/shuttles.dm
  code/game/objects/effects/misc.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/events/aurora_caelus.dm
  code/modules/holodeck/turfs.dm
  code/modules/lighting/lighting_area.dm
  code/modules/lighting/lighting_object.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_turf.dm
Owners: none

Removes the unnecessary fullscreen overlay
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/rendering/plane_master.dm
Owners: none

Increases the luminosity of over starlight tiles
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/holodeck/turfs.dm
  code/modules/lighting/lighting_object.dm
Owners: none

Uses render relays instead
  code/__DEFINES/layers.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/rendering/plane_master.dm
Owners: none

tra
  code/__DEFINES/zmimic.dm
Owners: none

Fix paper
  tgui/packages/tgui/styles/main.scss
Owners: @itsmeow

Remove some unused imports
  tgui/packages/tgui/interfaces/PreferencesMenu/GamePreferencesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/TabbedMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/names.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/security_department.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/preferred_map.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/randomization.tsx
Owners: none

Update code/game/machinery/computer/security.dm
  code/game/machinery/computer/security.dm
Owners: none

href_exploit
  code/modules/hydroponics/biogenerator.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

e
  beestation.dme
  code/game/area/Space_Station_13_areas.dm
  code/game/area/area_color_correction.dm
  code/game/area/areas.dm
  code/modules/client/client_colour.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
Owners: none

better, less duplicated Icon code
  code/modules/clothing/head/mind_monkey_helmet.dm
Owners: none

e
  code/game/area/Space_Station_13_areas.dm
  code/game/area/area_color_correction.dm
Owners: none

less comments + more sentience fragility
  code/modules/clothing/head/mind_monkey_helmet.dm
Owners: none

Converts the lightness into a colour helper
  code/__HELPERS/colors.dm
  code/__HELPERS/type2type.dm
  code/_onclick/hud/rendering/plane_master.dm
Owners: none

Update plane_master.dm
  code/_onclick/hud/rendering/plane_master.dm
Owners: none

Addresses the review
  beestation.dme
  code/__DEFINES/dcs/signals/signals_global.dm
  code/__HELPERS/colors.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/controllers/subsystem/parallax.dm
  code/modules/events/aurora_caelus.dm
  code/modules/lighting/starlight.dm
Owners: none

Door codes
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @pestoverde322

missed one door
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @pestoverde322

explo and shuttles
  _maps/map_files/RadStation/RadStation.dmm
Owners: @pestoverde322

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
/config @crossedfall

# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon

# pestoverde322

/_maps @pestoverde322

# itsmeow

/code/game/gamemodes/dynamic @itsmeow
/code/modules/modular_computers @itsmeow
/tools/MapTileAggregator.py @itsmeow
/code/modules/admin/player_panel.dm @itsmeow
/code/modules/tgui/ @itsmeow
/code/modules/tgui_input/ @itsmeow
/code/modules/tgui_panel/ @itsmeow
/tgui/ @itsmeow
/tgui/packages/tgui/interfaces/PlayerPanel.js @itsmeow
/code/modules/multiz @itsmeow

# itsmeow (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/goon/chat-dark.scss
/tgui/packages/tgui-panel/styles/goon/chat-light.scss
