Repository BeeStation/BeeStation-Hornet, pull requests merged in 2025-08, with the labels that each got.

#12998 Apid, the warrior race (Apid buffs galore)
  beestation.dme
  code/datums/diseases/advance/symptoms/beesymptom.dm
  code/modules/hydroponics/beekeeping/honeycomb.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/apid.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/special.dm
  icons/obj/surgery.dmi
Labels: Sprites

#13092 Fixed Box Station Atmos External Airlocks
  _maps/map_files/BoxStation/BoxStation.dmm
Labels: Mapping

#13091 MCR - Fixes Computer Program Downloading + QOL
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/modular_computers/hardware/portable_disks/job_disk.dm
  tgui/packages/tgui/interfaces/NtosNetDownloader.tsx
Labels: TGUI-Changes

#13093 Kapulimbs: Changeling Atomization
  code/__DEFINES/DNA.dm
  code/__DEFINES/say.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/traits/_traits.dm
  code/datums/diseases/dna_spread.dm
  code/datums/dna.dm
  code/datums/mind.dm
  code/game/gamemodes/objectives/_objective.dm
  code/game/gamemodes/objectives/basic/assassinate.dm
  code/game/gamemodes/objectives/basic/changeling/absorb.dm
  code/game/gamemodes/objectives/basic/debrain.dm
  code/game/gamemodes/objectives/basic/maroon.dm
  code/game/gamemodes/objectives/basic/mutiny.dm
  code/game/gamemodes/objectives/basic/protect.dm
  code/game/machinery/computer/cloning.dm
  code/modules/antagonists/changeling/cellular_emporium.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling_power.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/antagonists/changeling/powers/headcrab.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  code/modules/antagonists/changeling/powers/strained_muscles.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/mob/living/brain/MMI.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/brain/posibrain.dm
  code/modules/mob/living/brain/say.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/diona.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/login.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  code/modules/mob/say.dm
  code/modules/mob/say_readme.md
  code/modules/mob/transform_procs.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/metabolites.dm
  icons/hud/radials/radial_generic.dmi
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/CellularEmporium.jsx
  tgui/packages/tgui/interfaces/CellularEmporium.tsx
Labels: Sprites, TGUI-Changes

#13064 Autotransfer changes again
  code/controllers/subsystem/autotransfer.dm
Labels: Tweak, Testmerge Passed

#13097 Candy dispensers!
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/EchoStation/EchoStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RadStation/RadStation.dmm
  beestation.dme
  code/game/objects/items/food/sweets.dm
  code/modules/food_and_drinks/dispenser.dm
  code/modules/uplink/uplink_items.dm
  icons/obj/food/containers.dmi
  icons/obj/food/lollipop.dmi
Labels: Mapping, Sprites

#13028 Cyborg themed bags
  code/game/objects/items/storage/backpack.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_donator.dm
  code/modules/vending/toys.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/equipment/backpack_lefthand.dmi
  icons/mob/inhands/equipment/backpack_righthand.dmi
  icons/obj/storage/backpack.dmi
Labels: Sprites

#13098 Tiny tiny change, changes the point delta graph from a magnitude of 10 to 5
  tgui/packages/tgui/interfaces/DynamicPanel.tsx
Labels: TGUI-Changes

#13037 Morph enhancements
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround_ghost.dm
  code/datums/status_effects/neutral.dm
  code/modules/antagonists/morph/morph.dm
  code/modules/antagonists/morph/morph_stomach.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  tgui/packages/tgui/interfaces/AntagInfoMorph.tsx
Labels: Tweak, Balance/Rebalance, TGUI-Changes, Testmerge Passed

#13111 Retires Pipe Dispensers - Adds Engivend to Atmos
  _maps/RandomRooms/Echo/sk_rnd_winter_surface.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/EchoStation/EchoStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RadStation/RadStation.dmm
  _maps/shuttles/hunter/hunter_russian.dmm
  beestation.dme
  code/game/machinery/pipe/pipe_dispenser.dm
  code/modules/cargo/exports/large_objects.dm
  tgui/packages/tgui/interfaces/PipeDispenser.tsx
  tools/UpdatePaths/Scripts/11813_LINDA.txt
Labels: Mapping, Tools, TGUI-Changes

#13117 Fixes Radiation Collector Research Mode
  code/modules/power/singularity/collector.dm
Labels: Fix

#13060 Nightmare fixes
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Fix

#13121 Fixes RIDER_NEEDS_ARMS and multiple riding elements on vehicles
  code/datums/components/riding/riding_vehicle.dm
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/atv.dm
  code/modules/vehicles/bicycle.dm
  code/modules/vehicles/lavaboat.dm
  code/modules/vehicles/lawnmower.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/pimpin_ride.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/secway.dm
  code/modules/vehicles/speedbike.dm
  code/modules/vehicles/wheelchair.dm
Labels: Tweak, Fix

#13059 Makes me a dynamic codeowner
  .github/CODEOWNERS
Labels: GitHub

#13023 Secborg is now blue instead!
  _maps/RuinGeneration/13x13_ai-lab.dmm
  code/controllers/configuration/entries/game_options.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/secure.dm
  code/game/objects/structures/holosign.dm
  code/modules/exploration_crew/exploration_laser_gun.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/projectiles/ammunition/energy/laser.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
  icons/hud/screen_alert.dmi
  icons/hud/screen_cyborg.dmi
  icons/mob/robots.dmi
  icons/obj/guns/energy.dmi
Labels: Mapping, Sprites, Config Update, Balance/Rebalance, Testmerge Passed

#13129 Goodbye extrapolators and virus manipulation
  _maps/Prefab/Departments.dmm
  _maps/RandomRooms/3x3/sk_rdm081_biohazard.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base2.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/EchoStation/EchoStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RadStation/RadStation.dmm
  beestation.dme
  code/__DEFINES/diseases.dm
  code/datums/components/infective.dm
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/events/disease_outbreak.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/friendly/hamster.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/hostile/macrophage.dm
  code/modules/mob/living/simple_animal/hostile/redgrub.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/advanced/viral_bonding.dm
Labels: Mapping

#13013 Venus trap decay increase
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: i ded

#13142 Fixes paper bundles and brings back the calligraphy brush
  code/__DEFINES/fonts.dm
  code/datums/components/crafting/crafting_lists/misc.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/pen.dm
  icons/obj/bureaucracy.dmi
Labels: Sprites

#13146 Ninja post-modsuit fixes
  code/datums/dash_weapon.dm
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/ninja/energy_katana.dm
  code/modules/antagonists/ninja/energy_net_nets.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/ninja/ninja_explosive.dm
  code/modules/antagonists/ninja/outfit.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/paperwork/paperplane.dm
  icons/mob/clothing/belt.dmi
Labels: Sprites

#13147 Fixes improper fancychat size after reconnects (v3?)
  interface/skin.dmf
  tgui/packages/tgui-panel/index.tsx
Labels: Test Merged, TGUI-Changes, :ballot_box_with_check: Good PR

#13131 Dullahan removal
  beestation.dme
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/species.dm
  code/datums/dna.dm
  code/game/machinery/recycler.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/unit_tests/mutant_organs.dm
  config/game_options.txt
Labels: Config Update

#13160 Image test for worn emissives and IPCs
  code/__HELPERS/icons.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/emissive_worn_overlays.dm
  code/modules/unit_tests/screenshots/emissive_worn_overlays_blocked.png
  code/modules/unit_tests/screenshots/emissive_worn_overlays_ipc.png
  code/modules/unit_tests/screenshots/emissive_worn_overlays_ipc_blocked.png
  code/modules/unit_tests/screenshots/emissive_worn_overlays_partial.png
  code/modules/unit_tests/screenshots/emissive_worn_overlays_sunglasses.png
  code/modules/unit_tests/unit_test.dm
  tools/ci/show_screenshot_test_results.js
  tools/screenshot-test-comparison/index.js
Labels: Tools

#13167 Update show_screenshot_test_results.js
  tools/ci/show_screenshot_test_results.js
Labels: Tools

#13165 Final screenshot comment bot fix
  tools/ci/show_screenshot_test_results.js
Labels: Tools

#13017 Accent Refactor - Accent Trait +2 accents
  SQL/beestation_schema.sql
  SQL/database_changelog.txt
  beestation.dme
  code/__DEFINES/configuration.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mutations/speech.dm
  code/datums/status_effects/food/speech.dm
  code/datums/traits/_quirk.dm
  code/datums/traits/neutral_quirk.dm
  code/modules/client/preferences/entries/character/quirks/accents.dm
  code/modules/clothing/head/jobs.dm
  code/modules/language/accents/accents.dm
  strings/accent_british.json
  strings/accent_canadian.json
  strings/accent_french.json
  strings/accent_italian.json
  strings/accent_medieval.json
  strings/accent_roadman.json
  strings/accent_scottish.json
  strings/accent_swedish.json
  strings/french_replacement.json
  strings/italian_replacement.json
  strings/medieval_speech.json
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/custom_quirk.tsx
Labels: SQL, Test Merged, TGUI-Changes

#13150 Several tweaks for R&D console Techweb display
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/all_nodes.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
  tgui/packages/tgui/styles/interfaces/Techweb.scss
Labels: Test Merged, TGUI-Changes

#13178 Dynamic now cares about how well security is doing.
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/dynamic/dynamic_panel.dm
  code/modules/jobs/job_types/deputy.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  tgui/packages/tgui/interfaces/DynamicPanel.tsx
Labels: TGUI-Changes

#13099 Replaces the godmode bitflag with a trait
  code/__DEFINES/combat.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/basic_mobs/targetting_datums/basic_targetting_datum.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/admin/battle_royale.dm
  code/modules/admin/smites/assistantban.dm
  code/modules/admin/verbs/forcecryo.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/clock_cult/clockwork_massive.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/camera/camera.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/basic/health_adjustment.dm
  code/modules/mob/living/brain/life.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/damage_procs.dm
  code/modules/mob/living/simple_animal/friendly/drone/interaction.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/mob.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/shuttle/special.dm
  code/modules/spells/spell_types/self/rod_form.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/xenoarchaeology/traits/minors/sentient.dm
Labels: Administration, Code Improvement

#13188 Bindable Buttons! [Port]
  beestation.dme
  code/__DEFINES/dcs/signals/signals_mob/signals_mob.dm
  code/_onclick/hud/action_button.dm
  code/datums/actions/action.dm
  code/modules/keybindings/bindings_client.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/mob.dm
  code/modules/tgui_input/keycombo.dm
  tgui/packages/tgui/interfaces/KeyComboModal.tsx
Labels: TGUI-Changes, Testmerge Passed

#13214 Fixes chem dispenser, NTOS notepad & popper being contained inside hidden contexts
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/NtosNotepad.jsx
  tgui/packages/tgui/interfaces/RequestManager.jsx
Labels: TGUI-Changes

#13179 Adds MeowSynth and Spaceman instruments
  code/modules/instruments/instrument_data/fun.dm
  sound/instruments/synthesis_samples/meowsynth/LICENSE.txt
  sound/instruments/synthesis_samples/meowsynth/c2.ogg
  sound/instruments/synthesis_samples/meowsynth/c3.ogg
  sound/instruments/synthesis_samples/meowsynth/c4.ogg
  sound/instruments/synthesis_samples/meowsynth/c5.ogg
  sound/instruments/synthesis_samples/meowsynth/c6.ogg
  sound/instruments/synthesis_samples/spaceman/LICENSE.txt
  sound/instruments/synthesis_samples/spaceman/c2.ogg
  sound/instruments/synthesis_samples/spaceman/c3.ogg
  sound/instruments/synthesis_samples/spaceman/c4.ogg
  sound/instruments/synthesis_samples/spaceman/c5.ogg
Labels: Sound
