Repository BeeStation/BeeStation-Hornet, pull requests merged in 2025-09, with the labels that each got.

#12860 Prisoner Job!
  _maps/holodeck/workshop/basketball.dmm
  _maps/holodeck/workshop/boxing.dmm
  _maps/holodeck/workshop/theatre.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/EchoStation/EchoStation.dmm
  _maps/map_files/EchoStation/map_adjustment_echo.dm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/KiloStation/map_adjustment_kilo.dm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RadStation/RadStation.dmm
  beestation.dme
  code/__DEFINES/colors.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/span.dm
  code/controllers/subsystem/department.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets.dm
  code/controllers/subsystem/job.dm
  code/datums/map_adjustment_include.dm
  code/datums/traits/negative_quirk.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/cards_ids.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/antagonists/fugitive/fugitive_types.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/events/prisoner_spawning.dm
  code/modules/holodeck/holodeck_map_templates.dm
  code/modules/jobs/job_mail.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/security/workshop.dm
  icons/mob/landmarks.dmi
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Mapping, Feature, Sprites, TGUI-Changes, Testmerge Passed

#13249 powermonitor graph line fix
  tgui/packages/tgui/interfaces/PowerMonitor.jsx
Labels: TGUI-Changes

#13204 Fixes & Refactors playtime tracking
  code/controllers/subsystem/blackbox.dm
  code/modules/admin/topic.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_report.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  tgui/packages/tgui/interfaces/TrackedPlaytime.jsx
Labels: Administration, TGUI-Changes

#13260 Ports some mapping helpers from TG
  _maps/map_files/EchoStation/EchoStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/RadStation/RadStation.dmm
  beestation.dme
  code/__DEFINES/access.dm
  code/__DEFINES/layers.dm
  code/game/machinery/doors/airlock.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_thresholds.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/mapping/access_helpers.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/power/apc/apc_main.dm
  icons/effects/mapping_helpers.dmi
  tools/UpdatePaths/Scripts/13260_mapping_helpers.txt
Labels: Mapping, Sprites, Tools

#13239 [PORT]: gnomes, some other misc basic mob stuff.
  beestation.dme
  code/__DEFINES/colors.dm
  code/datums/ai/basic_mobs/basic_subtrees/attack_obstacle_in_path.dm
  code/datums/ai/basic_mobs/basic_subtrees/speech_subtree.dm
  code/datums/components/ai_retaliate_advanced.dm
  code/datums/components/caltrop.dm
  code/datums/components/ground_sinking.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/garden_gnome.json
  code/modules/cargo/packs.dm
  code/modules/mob/living/basic/retaliate/garden_gnome.dm
  icons/mob/garden_gnome.dmi
Labels: Feature, Sprites

#13265 Adds the Medical Emergencies Escape Shuttle
  _maps/shuttles/emergency/emergency_medbay.dmm
  code/datums/shuttles.dm
Labels: Mapping

#13112 Advanced Gas Rig
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/RadStation/RadStation.dmm
  beestation.dme
  code/__DEFINES/atmospherics/atmos_core.dm
  code/__DEFINES/gasrig.dm
  code/__HELPERS/atmospherics.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/atmospherics/machinery/gasrig.dm
  code/modules/modular_computers/file_system/programs/gasrig_monitor.dm
  code/modules/modular_computers/hardware/portable_disks/job_disk.dm
  icons/obj/machines/gasrig.dmi
  tgui/packages/tgui/interfaces/AtmosGasRig.jsx
  tgui/packages/tgui/interfaces/NtosAtmosGasRig.jsx
  tgui/packages/tgui/interfaces/common/AtmosHandbook.tsx
Labels: Mapping, Test Merged, Sprites, TGUI-Changes

#13189 Major vampire code cleanup and fixes
  code/__DEFINES/antagonists.dm
  code/__DEFINES/vampires.dm
  code/controllers/subsystem/sunlight.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/structures/crates_lockers/crates/coffins.dm
  code/modules/antagonists/vampire/clans/_clan.dm
  code/modules/antagonists/vampire/clans/brujah.dm
  code/modules/antagonists/vampire/clans/flavortext_clans.dm
  code/modules/antagonists/vampire/clans/malkavian.dm
  code/modules/antagonists/vampire/clans/tremere.dm
  code/modules/antagonists/vampire/clans/ventrue.dm
  code/modules/antagonists/vampire/conversion_vampire.dm
  code/modules/antagonists/vampire/datum_vampire.dm
  code/modules/antagonists/vampire/daylight_vampire.dm
  code/modules/antagonists/vampire/frenzy_vampire.dm
  code/modules/antagonists/vampire/life_vampire.dm
  code/modules/antagonists/vampire/misc_procs_vampire.dm
  code/modules/antagonists/vampire/moodlets_vampire.dm
  code/modules/antagonists/vampire/names_vampire.dm
  code/modules/antagonists/vampire/objectives_vampire.dm
  code/modules/antagonists/vampire/objects_vampire.dm
  code/modules/antagonists/vampire/powers/_power.dm
  code/modules/antagonists/vampire/powers/cloak.dm
  code/modules/antagonists/vampire/powers/fortitude.dm
  code/modules/antagonists/vampire/powers/gohome.dm
  code/modules/antagonists/vampire/powers/masquerade.dm
  code/modules/antagonists/vampire/powers/targeted/_targeted.dm
  code/modules/antagonists/vampire/powers/targeted/brash.dm
  code/modules/antagonists/vampire/powers/targeted/brawn.dm
  code/modules/antagonists/vampire/powers/targeted/feed.dm
  code/modules/antagonists/vampire/powers/targeted/haste.dm
  code/modules/antagonists/vampire/powers/targeted/lunge.dm
  code/modules/antagonists/vampire/powers/targeted/mesmerize.dm
  code/modules/antagonists/vampire/powers/targeted/trespass.dm
  code/modules/antagonists/vampire/powers/tremere/_tremere.dm
  code/modules/antagonists/vampire/powers/tremere/auspex.dm
  code/modules/antagonists/vampire/powers/tremere/dominate.dm
  code/modules/antagonists/vampire/powers/tremere/thaumaturgey.dm
  code/modules/antagonists/vampire/powers/vassal/distress.dm
  code/modules/antagonists/vampire/powers/vassal/recuperate.dm
  code/modules/antagonists/vampire/powers/veil.dm
  code/modules/antagonists/vampire/tracking_vampire.dm
  code/modules/antagonists/vampire/vassals/datum_vassal.dm
  code/modules/antagonists/vampire/vassals/discordant_vassal.dm
  code/modules/antagonists/vampire/vassals/favorite_vassal.dm
  code/modules/antagonists/vampire/vassals/misc_procs_vassal.dm
Labels: Tweak, Fix, Code Improvement

#13261 Improved solar panels
  _maps/map_files/EchoStation/EchoStation.dmm
  beestation.dme
  code/__DEFINES/dcs/signals/signals_global_object.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/power/power.dm
  code/__HELPERS/matrices.dm
  code/controllers/subsystem/sun.dm
  code/datums/materials/_material.dm
  code/datums/materials/alloys.dm
  code/datums/materials/basemats.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items/stacks/sheets/mineral/glass.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  goon/LICENSE.md
  goon/README.md
  goon/icons/obj/power.dmi
  icons/obj/solar.dmi
  tgui/packages/tgui/interfaces/SolarControl.jsx
  tgui/packages/tgui/interfaces/SolarControl.tsx
Labels: Mapping, Sprites, TGUI-Changes

#13293 Fat people update 2025
  code/datums/mood_events/generic_neutral_events.dm
  code/game/objects/structures/tables_racks.dm
Labels: Feature

#13298 Arconomy: Sales Taggers
  beestation.dme
  code/__DEFINES/dcs/signals/signals_obj/signals_item/signals_economy.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/pricetag.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/recycling/disposal/bin.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/shuttle/supply.dm
  icons/mob/clothing/belt.dmi
  icons/obj/device.dmi
  icons/obj/objects.dmi
  icons/obj/storage/wrapping.dmi
Labels: Sprites

#13317 Fixes an incredibly stupid mistake I made making vampires unstoppable
  code/modules/antagonists/vampire/clans/_clan.dm
Labels: Test Merged, Fix, p-Priority: High

#13324 Fixes some small mistakes on MetaStation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Mapping

#13329 Adds vent overclocking, fixes air alarm UI 516 jank
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/atom_defense.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/portable_thermomachine.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/atmospherics/machinery/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/passive_vent.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/other/miner.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/he_pipes.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/power/supermatter/supermatter.dm
  icons/obj/atmospherics/components/unary_devices.dmi
  sound/machines/fan/fan_break.ogg
  sound/machines/fan/fan_loop.ogg
  sound/machines/fan/fan_start.ogg
  sound/machines/fan/fan_stop.ogg
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/AirAlarm/AlarmControl.tsx
  tgui/packages/tgui/interfaces/AirAlarm/AlarmModal.tsx
  tgui/packages/tgui/interfaces/AirAlarm/AlarmStatus.tsx
  tgui/packages/tgui/interfaces/AirAlarm/index.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/AirConditioning.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/Home.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/Modes.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/Scrubbers.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/Thresholds.tsx
  tgui/packages/tgui/interfaces/AirAlarm/screens/Vents.tsx
  tgui/packages/tgui/interfaces/AirAlarm/types.ts
  tgui/packages/tgui/interfaces/AirAlarm/useModal.ts
  tgui/packages/tgui/interfaces/common/AtmosControls.tsx
Labels: Feature, Sprites, Fix, Sound, TGUI-Changes

#13339 Basically John Mapper - Some Mapping Fixes
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CardinalStation/CardinalStation.dmm
Labels: Mapping

#13350 Fixes AGR monitor, Adjusts gas rig shielding values
  code/modules/atmospherics/gasmixtures/gas_types.dm
  code/modules/modular_computers/file_system/programs/gasrig_monitor.dm
Labels: Fix, Balance/Rebalance, Testmerge Passed
